@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cover-image2.jpg');
  background-size: cover;
  height: 400px;
}

.white {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.25);
}

#logo {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  color: white;
}
.navbar-inverse {
  background-color: #2c3338
}

.btn-default {
  background-color: #c9356e;
  color: white;
  border: 1px solid #c9356e;
}

.btn-default:hover {
  background-color: #ab235a;
  color: white;
  border: 1px solid #ab235a;
}


.jumbotron h1 {
  color: #135e96;
  font-family: "Comic Sans MS";
}
.jumbotron h2 {
  color: #F6F7F7;
  font-family: "Comic Sans MS";
}

.btn-danger {
  background-color: #135E96;
  color: white;
  border: 1px solid #135E96;
}

.btn-danger:hover {
  background-color: #0A4B78;
  color: white;
  border: 1px solid #0A4B78;
}

h2 {
  color: #c9302c
}

footer {
  border-top: 1px solid #eaeaea;
  color: #777;
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

.description {
  margin-top: 0;
  color: #c9302c;
}


.header_tag {
  color: #c9302c;
}

.well a {
  color: #c9302c;
}

.chef_info {
  margin-top: 10px;
}
